<h1>{{title}}</h1>
<ul id="productList">
  {{#each products}}
    <div>
      <li>{{_id}}</li>
      <li>{{title}}</li>
      <li>{{price}}</li>
      <li>{{thumbnail}}</li>
      <li>{{code}}</li>
      <li>{{description}}</li>
      <li>{{stock}}</li>
      <li>{{category}}</li>
      <li>{{status}}</li>
    </div>
  {{else}}
    <li>No hay productos</li>
  {{/each}}
</ul>

<a href="/realtimeproducts">Ver en tiempo real</a>